/mnt/c/Users/BMcKr/Documents/Academia/cs50-Introduction-to-AI-with-Python/0_Search/degrees/__pycache__/
/mnt/c/Users/BMcKr/Documents/Academia/cs50-Introduction-to-AI-with-Python/0_Search/tictactoe/__pycache__
/mnt/c/Users/BMcKr/Documents/Academia/cs50-Introduction-to-AI-with-Python/cs50-env